/* =========================
   Modern CSS Reset
   ========================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Allow percentage-based heights */
html,
body {
  height: 100%;
}

/* Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve heading defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* =========================
   END RESET - START STYLESHEET
   ========================= */

header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 1.9rem;
    padding: 20px;
}

footer a:hover {
    color: gray;
}

h2 {
    font-size: 4.9rem;;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .flipbook-container {
    display: flex;
    justify-content: center;
    /*width: 100%;*/
    /*padding: 20px 0;*/
} 

.book {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.artistcredit {
    padding-bottom: 70px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.artistcredit a:hover {
    color: gray;
}
